<h3>Flights</h3>

<%#= form_with(model: @flight, url: flights_path, method: :get, local: true) do |form| %>
<%= simple_form_for(@flight, url: flights_path, method: :get, local: true) do |form| %>

  <div class="field">
    <%= form.label(:origin_id) %>
    <%= form.collection_select(:origin_id, Airport.all, :id, :code) %>
  </div>

  <div class="field">
    <%= form.label(:destination_id) %>
    <%= form.collection_select(:destination_id, Airport.all, :id, :code) %>
  </div>

  <div class="field">
    <%= form.label(:date) %>
    <%= form.collection_select(:date,
                               Flight.select(:date).distinct,
                               :date,
                               :formatted_date) %>
  </div>

  <div class="field">
    <%= form.label(:passengers) %>
    <%= form.select(:passengers, 1..4) %>
  </div>

  <%#= form.submit(:Search, class: 'important-button') %>
  <%= form.button :submit, 'Search' %>

<% end %>

<br>
<% if @flights %>
  <% @flights.includes(:origin, :destination).each do |flight| %>
    <div>
      <li><%= flight.origin.code %></li>
      <li><%= flight.destination.code %></li>
      <li><%= flight.duration %></li>
    </div>
    <hr>
  <% end %>
<% end %>

