<h3>Complete Booking</h3>
<%= render 'flights/flight', flight: @flight %>

<h4>Passengers Details</h4>
<div class='passenger-form-container'>
  <%= form_with(model: @booking, local: true) do |form| %>
    <%= form.hidden_field :flight_id, value: @flight.id %>

    <%= form.fields_for :passengers do |passengers_form| %>
      <div class='passenger-form-fields'>
        <div class='input-container'>
          <%= passengers_form.text_field :name, class: 'passenger-input no-right-border', placeholder: 'Passenger Name' %>
        </div>
        <div class='input-container'>
          <%= passengers_form.text_field :email, class: 'passenger-input', placeholder: 'Passenger Email' %>
        </div>
      </div>
    <% end %>
    <br>
    <%= form.submit 'Book Flight' %>
  <% end %>
</div>

<br>
<br>
<%= link_to 'Select another flight', root_path %>