<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice || alert %>
      <div class='flash-container'>
        <% if notice %>
          <div id="notice"><%= notice %></div>
        <% end %>
        <% if alert %>
          <div class="alert"><%= alert %></div>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
